# LangChain Core & Ecosystem
langchain
langchain-core
langchain-community
langchain-chroma

# Providers
langchain-openai
openai
langchain-anthropic
langchain-google-genai
google-generativeai
langchain-groq
langchain-huggingface
transformers
sentence-transformers
huggingface-hub

# Tools & Search
ddgs

# Vector Stores & Retrieval
chromadb
pypdf

# Validation & Schemas
pydantic
email-validator

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
torch
torchvision

# UI Framework & Graph Visualization
streamlit
grandalf

#tool
langchain-experimental